/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100svh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
  display: flex;
  flex-direction: column;
  background-color: #383243;
  margin: 10% auto ;
  padding: 20px;
  border: 1px solid #888;
  width: 20rem;
}
.close{
  color: #aaa;
  /* float: right; */
  align-self: end;
  font-size: 28px;
  font-weight: 900;
  cursor: pointer;
}

input{
  background-color: #383243 !important;
  border: none ;
  outline: none !important;
  border-bottom: 1.2px solid #aaa;
  /* width: 20rem; */
}

form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form > div {
  display: flex;
  flex-direction: column;
}

.submit-btn{
  width: 8rem;
  margin-top: 10px;
  padding: 8px 0;
  border: 2px solid #fefefe;
  border-radius: 4px;
  color: #fefefe;
  font-weight: 600;
  background-color: transparent;
}